@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body, html{
    height: 100%;
}
.textRotate{
 
    transform: rotate(3deg);
    text-align: center;
    font-size: 3em;
    margin-top: -1px;
}
.startHeader{
    background-color: green;
    border-radius: 10px;

}
.startImg{
    height: auto ;
    width: 100;
}
.startFooter{
    background-color: yellow;
}
.startBody{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding: 0;
    margin: 0;
    background-color: yellow;
}
.current{
    font-weight: bold;
}
.yellow{
    background-color: yellow;
    border-radius: 20px;
}
.startContainer{
    display: grid;
    grid-template-columns: 85% 15%;
}
.center{
    text-align: center;
}
.navbar{
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: gray;
    border-radius: 20px;
}
.startbody{
    display: grid;
    grid-template-columns: 80% 20%;
}
.container{
display: grid;
grid-template-columns: 20% 20% 20% 20% ;
grid-template-rows: 20% 20% 20% 20% ;

}
.gul{
    background-color: yellow;
    grid-column:1/7;
    grid-row: 1/6;
}
h1{
    text-align: center;
} 



















html,body{
    height: 100%; margin: 0; padding: 0; 
}
.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr ;

}
.grön{
    background-color: rgb(61, 172, 44);
    grid-column:1/5;
    grid-row: 1/1;
}

h1{
    text-align: center;
}
.Kalle{
    background-color: yellow;
    grid-column: 1/1;
    grid-row: 2/5;

}
.Betty{
background-color:turquoise;
grid-row: 2/5;

}
.Göran{
background-color: pink;
grid-row: 2/5;

}
.Doris{
background-color: blueviolet;
grid-row: 2/5;
}

.bonbon-regular {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
}

