body, html{
    height: 100%;
}
.startHeader{
    background-color: green;
}
.startFooter{
    background-color: green;
}
.startBody{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding: 0;
    margin: 0;
    background-color: blue;
  

}
.center{
    text-align: center;
}
.navbar{
    background-color: gray;
}
.startbody{
    display: grid;
    grid-template-columns: 80% 20%;
}
.container{
display: grid;
grid-template-columns: 20% 20% 20% 20% ;
grid-template-rows: 20% 20% 20% 20% ;

}
.gul{
    background-color: yellow;
    grid-column:1/7;
    grid-row: 1/6;
}
h1{
    text-align: center;
} 