.startsida{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
.headerbild{
    background-color: green;
    height: 157px;
    width: auto;
}
.center{
    text-align: center;
}
.footerbild{

}
