.startsida{
    display: grid;
    grid-template-rows: 30% 60% 10%;
}
.startHeader{
    background-color: green;
  

}
.startBody{
    background-color: blue;
  

}
.center{
    text-align: center;
}
.navbar{
    background-color: blue;
}
.startbody{
    display: grid;
    grid-template-columns: 80% 20%;
}
.container{
display: grid;
grid-template-columns: 20% 20% 20% 20% ;
grid-template-rows: 20% 20% 20% 20% ;

}
.gul{
    background-color: yellow;
    grid-column:1/7;
    grid-row: 1/6;
}
h1{
    text-align: center;
} 