@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.headerDiv{
    
    width: 1097px
}
.textRotate{
 
    transform: rotate(3deg);
    text-align: center;
    font-size: 3em;
    margin-top: -1px;
    transform-origin: center;
}
.startHeader{
    align-items: center;
    background-color: lime;
    border-radius: 10px;
    
}
.startImg{
    height: auto ;
    width: 100;
}
.startFooter{
    background-color: lightskyblue;
}
.startBody{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}
.current{
    font-weight: bold;
}
.yellow{
    background-color: yellow;
    border-radius: 20px;
}
.blue{
    background-color: lightskyblue;
   
}
.startContainer{
    display: grid;

}
.center{
    text-align: center;
}
.navbar{
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: gray;
    border-radius: 20px;
  
}
.startbody{
    display: grid;
    grid-template-columns: 80% 20%;
}
.containers{
display: grid;
grid-template-columns: 20% 20% 20% 20% ;
grid-template-rows: 20% 20% 20% 20% ;

}
.gul{
    background-color: yellow;
    grid-column:1/7;
    grid-row: 1/6;
}
h1{
    text-align: center;
} 
.centered{
    text-align: center;
}
.djurkaraktär{
background-color: purple;
}
.startmain{
   display: grid;
    
    background-color: brown;
}


















html,body{
    margin: 0; padding: 0; 
}
.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr ;

}
.grön{
    background-color: rgb(61, 172, 44);
    grid-column:1/-1;
    grid-row: 1/1;
}

h1{
    text-align: center;
}
.Kalle{
    background-color: yellow;
    grid-column: 2/2;
    grid-row: 2/3;

}
.Betty{
background-color:turquoise;
grid-row: 2/3;

}
.Göran{
background-color: coral;
grid-row: 2/2;

}
.Doris{
background-color: pink;
grid-row: 2/2;
}

.bonbon-regular {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
}

.vend-sans-font {
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}